.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.card-container app-event-card {
  margin: 5px;  
  max-width: 100px; /* Ajusta este valor a tus necesidades */

}
